

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar a.navbar-brand{
    color: #f24432;
    font-weight: 600;
}
.navbar .collapse ul li.nav-item a.nav-link:hover,
.navbar .collapse ul li.nav-item a.nav-link.active{
    color: #f24432;
}

#banner-content{
    background-image: url('../assets/intro-bg.jpg');
    height: 80vh;
    width: 100%;
    background-attachment: fixed;
}
.overlay{
    height: 80vh;
    width: 100%;
    padding: 0;
    background-color: rgba(00,0,0,0.5);
}

#aboutme h2{
    position: relative !important;
}
#aboutme h2.designer_name::after{
    content: '';
    position: absolute;
    height: 2px;
    width:35%;
    background:#f24432;
    position:absolute;
    left: 0%;
    bottom:-5px;
}

.profile_pics .card{
    width: 250px;
    height: 400px;
}
.profile_pics .card img{
    width: 250px;
    height: 400px;
    object-fit: cover;
    border: 0;
}
.profile_pics .card:nth-child(1):hover {
    z-index: 1;
    transition: 1s ease !important;
}
.profile_pics .card:nth-child(2){
    rotate: 7deg;
    position: absolute;
    left: 150px;
}

.mastheader{
    position: absolute;
    top: -15%;
}

.skills {
    background-image: url('assets/Skills-bg-img.png');
    padding: 100px 0px;
    /* background-color: #494b50;
    color: #fff; */
}
.skills .experience div{
    font-size: 5rem;
}
.skills p{
    line-height: 2;
    text-align: justify;
}
.skills .designer_name{
    font-weight: bold;
}

.aboutus_personal_info{
    padding: 50px 0px;
}

.aboutus_personal_info h6.title{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.500);
    font-size: 1.32rem;
}
.aboutus_personal_info h6.title_data{
    font-weight: 400;
    /* color: #000; */
    font-size: 1.32rem;
}

/* programming skills section */
.programming_skills {
    padding: 100px 0px;
    background-color: #303134;
    height: 100%;
    background-attachment: fixed;
    color: #fff;

}


.timeline{
    padding: 100px;
    /* background-color: #494b50;
    color: #fff; */
}
.timeline ul li{
    padding: 25px 0px;
    /* background-color: #494b50;
    color: #fff; */
}


.footer {
    padding: 100px 0px;
    background-color: #303134;
    color: #fff;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footer .fa-envelope,
.footer .fa-phone-volume{
    padding: 0px 5px;
}
.footer h2{
    padding-bottom: 25px;
}
.footer img{
    width: 40px;
    height: 40px;
}


.footer .connect_me .fa-brands{
    font-size: 25px;
}
.scroll_to_top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 128, 0, 0.742);
    padding: 25px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    padding: 20px 23px;
}